<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iclass.iclassapi.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.iclass.iclassapi.entity.Student" >
    <id column="Student_id" property="studentId" jdbcType="INTEGER" />
    <result column="Student_code" property="studentCode" jdbcType="VARCHAR" />
    <result column="Student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="School_id" property="schoolId" jdbcType="INTEGER" />
    <result column="Student_sex" property="studentSex" jdbcType="VARCHAR" />
    <result column="Student_phone" property="studentPhone" jdbcType="VARCHAR" />
    <result column="Profession" property="profession" jdbcType="VARCHAR" />
    <result column="Addmation" property="addmation" jdbcType="TIMESTAMP" />
    <result column="Tourist" property="tourist" jdbcType="INTEGER" />
    <result column="Used" property="used" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Student_id, Student_code, Student_name, School_id, Student_sex, Student_phone, Profession, 
    Addmation, Tourist, Used
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where Student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where Student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iclass.iclassapi.entity.Student" >
    insert into student (Student_id, Student_code, Student_name, 
      School_id, Student_sex, Student_phone, 
      Profession, Addmation, Tourist, 
      Used)
    values (#{studentId,jdbcType=INTEGER}, #{studentCode,jdbcType=VARCHAR}, #{studentName,jdbcType=VARCHAR}, 
      #{schoolId,jdbcType=INTEGER}, #{studentSex,jdbcType=VARCHAR}, #{studentPhone,jdbcType=VARCHAR}, 
      #{profession,jdbcType=VARCHAR}, #{addmation,jdbcType=TIMESTAMP}, #{tourist,jdbcType=INTEGER}, 
      #{used,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iclass.iclassapi.entity.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        Student_id,
      </if>
      <if test="studentCode != null" >
        Student_code,
      </if>
      <if test="studentName != null" >
        Student_name,
      </if>
      <if test="schoolId != null" >
        School_id,
      </if>
      <if test="studentSex != null" >
        Student_sex,
      </if>
      <if test="studentPhone != null" >
        Student_phone,
      </if>
      <if test="profession != null" >
        Profession,
      </if>
      <if test="addmation != null" >
        Addmation,
      </if>
      <if test="tourist != null" >
        Tourist,
      </if>
      <if test="used != null" >
        Used,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentCode != null" >
        #{studentCode,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="studentSex != null" >
        #{studentSex,jdbcType=VARCHAR},
      </if>
      <if test="studentPhone != null" >
        #{studentPhone,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="addmation != null" >
        #{addmation,jdbcType=TIMESTAMP},
      </if>
      <if test="tourist != null" >
        #{tourist,jdbcType=INTEGER},
      </if>
      <if test="used != null" >
        #{used,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iclass.iclassapi.entity.Student" >
    update student
    <set >
      <if test="studentCode != null" >
        Student_code = #{studentCode,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        Student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        School_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="studentSex != null" >
        Student_sex = #{studentSex,jdbcType=VARCHAR},
      </if>
      <if test="studentPhone != null" >
        Student_phone = #{studentPhone,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        Profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="addmation != null" >
        Addmation = #{addmation,jdbcType=TIMESTAMP},
      </if>
      <if test="tourist != null" >
        Tourist = #{tourist,jdbcType=INTEGER},
      </if>
      <if test="used != null" >
        Used = #{used,jdbcType=INTEGER},
      </if>
    </set>
    where Student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iclass.iclassapi.entity.Student" >
    update student
    set Student_code = #{studentCode,jdbcType=VARCHAR},
      Student_name = #{studentName,jdbcType=VARCHAR},
      School_id = #{schoolId,jdbcType=INTEGER},
      Student_sex = #{studentSex,jdbcType=VARCHAR},
      Student_phone = #{studentPhone,jdbcType=VARCHAR},
      Profession = #{profession,jdbcType=VARCHAR},
      Addmation = #{addmation,jdbcType=TIMESTAMP},
      Tourist = #{tourist,jdbcType=INTEGER},
      Used = #{used,jdbcType=INTEGER}
    where Student_id = #{studentId,jdbcType=INTEGER}
  </update>
</mapper>